---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const posts = await Astro.glob("../pages/post/**/*.mdx");
// import Posts from "../components/posts.mdx";
---

<Layout title="Home">
  <main>
    <div class="header name">Blog</div>
    <ul>
      {
        posts
          .reverse()
          .map((post) => (
            <Card
              title={post.frontmatter.title}
              body={post.frontmatter.description}
              href={`/post/${post.frontmatter.slug}`}
            />
          ))
      }
    </ul>
  </main>
</Layout>

<style>
  ul {
    @apply m-4;
  }
  .header {
    font-family: "HeaderFont", "Open Sans", sans-serif;
  }
  .name {
    @apply font-extrabold;
    font-size: var(--font-head-size);
    padding: 0 0 0.5em 0;
  }
</style>
