---
import Icon from "../components/Icon.astro";
import IconLinkedIn from "../images/icons/socialmedia/linkedin-icon.svg";
import IconTwitter from "../images/icons/socialmedia/twitter.svg";
import IconYouTube from "../images/icons/socialmedia/youtube.svg";
import IconGitHub from "../images/icons/socialmedia/github.svg";
import IconHackerRank from "../images/icons/socialmedia/HackerRank_logo.svg";
import IconFacebook from "../images/icons/socialmedia/facebook-logo-2019.svg";
import IconTwitch from "../images/icons/socialmedia/twitch.svg";
---

<div>
  <ul class="icons">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>
<style>
  div {
    @apply w-screen bg-gray-200 flex;
  }
  ul {
    @apply list-none;
  }
  li {
    @apply float-left m-2 px-3 py-1 bg-gray-200 rounded-md transition-all;
  }
  li:hover {
    @apply bg-gray-300;
  }
</style>
<!-- <style>
  .icons {
    height: var(--icon-dim);
    display: grid;
    grid-template-columns: repeat(7, min-content);
    justify-content: center;
    gap: calc(var(--icon-dim) * var(--icon-gap));
    padding: 0.5em;
    /* position: absolute; */
    z-index: 1;
  }
</style> -->
