---
---

<div>
  <ul class="icons">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</div>
<style>
  div {
    @apply w-screen bg-gray-200 flex;
  }
  ul {
    @apply list-none;
  }
  li {
    @apply float-left m-2 px-3 py-1 bg-gray-200 rounded-md transition-all;
  }
  li:hover {
    @apply bg-gray-300;
  }
</style>
